<blockquote class="we-quote">
  <span role="presentation">"</span><p>{{@quoteText}}</p>
  <cite>
    {{#if this.citeUrl}}
      <a href="{{this.citeUrl}}">{{this.cite}}</a>
    {{else}}
      {{this.cite}}
    {{/if}}
  </cite>
</blockquote>