{{page-title "Awesome Ember Addons, 2021 Edition"}}

<article>
  <p class="intro">There are a lot of awesome Ember addons that help making an Ember app even easier. Just in time for end-of-year calendar countdowns, here are 24 of the best Ember addons to help make it faster than ever to build a powerful app.</p>
  
  <WeQuote @quoteText="Ember continues to be a great choice for building complex apps that are meant to last. I've seen many teams excel on it and evolve their code bases over many years without much friction – not necessarily a common sight in the industry. Happy Birthday – on to the next 10 years!" @cite="Marco Otte-Witte, Founder & Managing Director, Simplabs" @citeUrl="https://twitter.com/marcoow/status/1468583006843674629" />
  
  <h2>The Best Ember Addons in 2021</h2>
  <WeGrid as |G|>
    {{#each @model.addons as |addon|}}
      <WeGridItem @addonName={{addon.addonName}} @addonNum={{addon.addonNum}} @addonUrl={{addon.addonUrl}} @updateCurrentVisible={{G.updateCurrentVisible}} @currentVisible={{G.currentVisible}}>
        {{!-- template-lint-disable no-triple-curlies --}}
        <p>{{{addon.description}}}</p>
        {{!-- template-lint-enable no-triple-curlies --}}
      </WeGridItem>
    {{/each}}
  </WeGrid>
</article>
