{{page-title "Awesome Ember Addons, 2023 Edition"}}

<article>
  <p class="intro">There are a lot of awesome Ember addons that help making an Ember app easier than ever. While <a href="https://emberobserver.com/" target="_blank" rel="external noopener noreferrer">Ember Observer</a> tracks the <em>most used</em> addons, this is a list of the addons that are both not in the default build of an Ember app and also bring us joy. We don't use them because we necessarily have to, we use them because we want to!</p>
  
  <p class="intro">Just in time for 12 days of your favorite holiday, here are 12 of the Ember addons that brought us joy!</p>
  
  <h2>12 days of Ember: 2023 best-loved addon list</h2>
  <WeGrid as |G|>
    {{#each @model.addons as |addon|}}
      <WeGridItem @addonName={{addon.addonName}} @addonNum={{addon.addonNum}} @addonUrl={{addon.addonUrl}} @updateCurrentVisible={{G.updateCurrentVisible}} @currentVisible={{G.currentVisible}}>
        {{!-- template-lint-disable no-triple-curlies --}}
        <p>{{{addon.description}}}</p>
        {{!-- template-lint-enable no-triple-curlies --}}
      </WeGridItem>
    {{/each}}
  </WeGrid>
</article>